page{
    background-color: #fbfbfb;
}
.label_container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px 20px;

    .title{
        font-size: 18PX;
    }
    .desc{
        font-size: 14PX;
        color: #919191;
        margin-left: 30px;
        padding-bottom: 1PX;
    }
}

.recommend{
    padding: 10px 20px;
    .item{
        background-color: #fff;
        border-radius: 8PX;
        .img{
            width: 100%;
            border-top-left-radius: 8PX;
            border-top-right-radius: 8PX;
            height: 500px;
        }
        .content{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            .body{
                display: flex;
                flex-direction: column;
                flex: 1;
                .name{
                    font-size: 16PX;
                }
                .desc{
                    font-size: 14PX;
                    color: #919191;
                }
                .price{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    .label{
                        font-size: 12PX;
                        color: #f53e53;
                    }
                    .value{
                        font-size: 16PX;
                        color: #f53e53;
                    }
                    .unit{
                        margin-left: 20px;
                        font-size: 14PX;
                        color: #919191;
                    }
                }
                .add{
                    margin-right: 10px;
                }
            }
        }
    }
}

.cart{
    position: fixed;
    bottom: 200px;
    right: 20px;
}
.at-badge__num{
    right: 10px;
    top: 5px;
}
// 未完成订单
.new_orders{
    padding: 10px 20px;
    .order_item{
        display: flex;
        flex-direction: row;
        background-color: #fff;
        border-radius: 8PX;
        padding: 20px;
        .cover_img{
            width: 150px;
            height: 150px;
            margin-right: 25px;
            border-radius: 4px;
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .header{
                .products{
                    font-size: 16PX;
                }
                .order_num{
                    font-size: 12PX;
                    color: #919191;
                }
            }
            .body{
                font-size: 14PX;
                color: #5a5a5a;
            }
        }
    }
    .extar{
        display: flex;
        justify-content: center;
        .more{
            // background-color: #fbf6ee;
            border-radius: 4PX;
            color: #d48f38;
            font-size: 12PX;
            padding: 10px;
        }
    }
}
